<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Confirmation</title>
</head>
<body>
    <h1>Task Submitted</h1>
    <p>Title: <%= newTask.title %></p>
    <p>Date Started: <%= newTask.dateStarted %></p>
    <p>Date Due: <%= newTask.dateDue %></p>
    <p>Priority: <%= newTask.priority %></p>
    <p>Description: <%= newTask.description %></p>
    <hr>
    <a href = "/">Dashboard</a>
</body>
</html>